<header>
    <div class="inside">
        <nav id="mainMenu">
            <ul>
                <li><a href="/home.html">Home</a></li>
            </ul>
        </nav>
        <nav id="sekMenu">
            <ul>
                <li><a href="#" lang="en" id="register">Register</a></li>
                <li class="separator">|</li>
                <li><a href="#" lang="en" id="login">Login</a></li>
            </ul>
        </nav>
        <img src="/static/plugins/ep_user_pads/static/theme/<%= theme %>/logo.png" alt="Etherpad" id="logo">
    </div>
</header>
<div id="minMax">
    <div id="minimize"><img src="/static/plugins/ep_user_pads/static/images/arrowup-orange-16.png"
                            id="minMaxArrow"></div>
    <div id="maximize" style="display:none"><img
                src="/static/plugins/ep_user_pads/static/images/arrowdown-orange-16.png"
                id="minMaxArrow"></div>
</div>
<div id="groupNav">
    <div class="inside">
        <div style="clear: both"></div>
    </div>
</div>